html {
    height: 100%;
    width: 100%;
}

.corpo {
    background-color: rgb(180, 175, 175);
}
.barradetarefas {
    background-color: black;
    inline-size: auto;
    font-family: Arial, Helvetica, sans-serif;

}

.Barra {

    margin-left: 50px;

}

.barradetarefas img {
    width: 100px;
    height: 74px;
    float: left;
    background-color: black;
}

.barradetarefas ul {

    color: aliceblue;
    float: left;


}

.container-fluid {
    margin-top: 20px;

}


.Sac ul li {
    font-weight: bold;
    display: inline;
    margin-left: 130px;

}

.Sac img {
    width: 20px;
    right: 20px;
    margin-left: 10px;
}

.Sac {
    background-color: rgb(190, 183, 183);
    margin-block: -17px;    
}

.promocao h3 {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif
}

.promocao p {
    background-color: red;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
}

.compra{
    margin-right: 100px;
    background-color: black;
    
}

.bem p{
    margin-left: 350px;
    margin-top: -32px;
    background-color: black;
    font-weight: bold;
}

.redes{
    
}

.pay p {
    float: right;
    margin-top: -45px;
    margin-right: 160px;
    font-size: 13px;
    background-color: black;
    color: white;
}

.Sac li:hover{
    background-color: rgb(175, 14, 14);

}

.container{
    float: right ;
    
}

.carousel-inner{
    height: 420px;
    margin-top: -440px;
    
 }

 .col-sm-7{
    float: right;
}

.col-sm-2  {
    
}

.Filtro{
    margin-left: 200px;
}

.botao {
    margin-left: 50px;
    margin-top: -10px;
}

.visto {
    float: right;
    margin-right: 60px;
    margin-top: 20px;
}

.item1{
    float: right;
    margin-right: 40px;
}

.visto img{
    height:90px ;
    width: 100px;
    margin-left: 16px;
}

.estrelas1 img{
    height: 90px ;
    width: 120px;
    margin-left: 140px;
    margin-top: -130px;
}

.preco1 h4{
    margin-left: 150px;
}

.item2 h6{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.estrelas2 img{
    height: 90px ;
    width: 120px;
    margin-left: 140px;
    margin-top: -120px;
}

.preco2 h4{
    margin-left: 135px;
}

.item3 {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.estrelas3 img{
    height: 90px ;
    width: 120px;
    margin-left: 140px;
    margin-top: -140px;
}
.preco3 h4{
    margin-left: 130px;
}
.item4 {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.estrelas4 img{
    height: 90px ;
    width: 120px;
    margin-left: 140px;
    margin-top: -140px;
}

.preco4 h4{
    margin-left: 130px;
    margin-top: -60px;
}  

.item5 {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.estrelas5 img{
    height: 90px ;
    width: 120px;
    margin-left: 140px;
    margin-top: -140px;
}
.preco5 h4{
    margin-left: 150px;
    margin-top: -30px;
}
.botao3{
    margin-left: 140px;
    margin-top: 20px;
}

.news {
    margin-top: 20px;
}

.produtos{
    margin-left: 150px;
    margin-top: 100px;
}

.produtos img{
    width: 120px ;
    height: 150px;
}

.estrelas10 img{
    height: 90px;
    width: 120px;
    margin-top: -30px;
}

.valor1 h4{
    font-size: 22px;
    margin-top: -18px;
}

.estrelas11 img{
    height: 90px;
    width: 120px;
    margin-top: -30px;
}

.valor2 h4{
    font-size: 22px;
    margin-top: -18px;
}

.estrelas12 img{
    height: 90px;
    width: 120px;
    margin-top: -30px;
}

.valor3 h4{
    font-size: 22px;
    margin-top: -18px;
}

.estrelas13 img{
    height: 90px;
    width: 120px;
    margin-top: -30px;
}

.valor4 h4{
    font-size:22px ;
    margin-top: -18px;
}

.estrelas14 img{
    height: 90px;
    width: 120px;
    margin-top: -30px;
}

.valor5 h4{
    font-size: 22px;
    margin-top: -18px;
}

.estrelas15 img{
    height: 90px;
    width: 120px;
    margin-top: -30px;
}

.valor6 h4{
    font-size: 22px;
    margin-top: -18px;
}

.estrelas16 img {
    height: 90px;
    width: 120px;
    margin-top: -30px;
}

.valor7 h4{
    font-size: 22px;
    margin-top: -18px;
}

.estrelas17 img{
    height: 90px;
    width: 120px;
    margin-top: -30px;
}

.valor8 h4{
    font-size: 22px;
    margin-top: -18px;
}

.estrel1{
    height: 90px;
    width: 120px;
    margin-top: -30px;
}

.valor9 {
    font-size: 22px;
    margin-top: -18px;
}

.pe{
  
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(163, 160, 160);
}

@media screen and (max-width: 1080px){ 
    body {
        font-size:25px;
    }

    .barradetarefas {
        text-align: center;
    }

    .Barra {
        text-align: center;
    }

    

    .promocao {
        text-align: center;
    }

    img {
        width: 70%;
        height: auto;
    }

    .Sac ul li {
        font-weight: bold;
        display: inline;
        margin-left: 30px;
    }

    .navbar p{
        display: inline;
        margin-left: -10px;
        margin-top: 40px;
}

    .pay p {
        float: left;
        display: inline;
        
    }

    .Filtro {
        margin-top: 1000px;
        display: inline;
    }
    
    .carousel-inner{
        height: 420px;
        margin-top: -10px;
        
     }

    .produtos{
       margin-right: 50px; 
    }

    .visto{
        margin-top: -100px;
        margin-left: 0px;
    }

    .produtos2{
        display: inline;
    }

    .pe{
        margin-left: 30px;  
    }
   

}
